# Environment
.env

# Virtual environment
venv/

# Python
*.pyc
*.pyo
__pycache__/
*.egg-info/
dist/
build/

# Django
db.sqlite3
media/
staticfiles/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
